body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-variant: normal;
    opacity: 0;
    font-size: 14px;
    background-color: #fff;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 30px;
}

a,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #F05658;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #999;
    text-decoration: none;
}

header {
    text-align: center;
    color: #3b3b3b;
}

header .intro-text {
    margin: 20px 0;
}

header .intro-text .name {
    display: block;
    margin: 12% auto 1% auto; 
    font-size: 2em;
    font-weight: 700;
}

header .quote {
    font-size: 1.5em;
    font-weight: 700;
    max-width: 650px;
    margin: 0 auto; 
    line-height: 1.5em;
    color: #3b3b3b;
}

#social-media {
    margin: 5% auto; 
}

.btn-social {
    display: inline-block;
    border: 0px solid #f1f1f1;
    text-align: center;
    font-size: 1.5em;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.fa-fw {
    color: #F05658;
}

.fa-fw:hover {
    color: #d9d9d9;
}

@media(max-width:767px) {
       header .quote {
        font-size: 1.2em;
        max-width: 95%;
        margin: 1em 0 0 0;
    }
header .intro-text .name {
    display: block;
    font-size: 1.5em;
    margin: 20% auto 1em auto;
    }
    .btn-social {
    display: inline-block;
    border: 0px solid #f1f1f1;
    text-align: center;
    font-size: 1.2em;
    margin: 1em 0;
    }
}
