body {
	font-family: 'Open Sans', sans-serif;
	color: #666;
	font-weight: normal;
	margin: 0;
	padding: 0;
	background: #f1f1f1;
	display: none;
}

a {
	color: #fff;
}

a:hover {
	color: #999;
}

h1, h2, h3, h4{
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 700;
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
	margin-top: 20%;
	line-height:30px;
}

.row h2 {
	color: #fff;
	font-size: 0.9rem;
	text-align: center;
	line-height:30px;
	font-weight: 100;
}

h3 {
	text-align: center;
	color: #404040;
	font-size:1.2rem;
	color: rgba(0,0,0,0.75);
	margin: 20px auto;
	font-weight: bold;
	padding: 0 10px;
}

h4 {
	font-size: .8em;
	font-weight: 100;
	text-align: center;
}

h5 {
	font-size: 1.3em;
	color: #333;
	text-align: center;
	font-weight: 500;
	margin-bottom: 10px;
}

h5 small {
	font-size: .6em;
	font-weight: 100;
	text-align: center;
	font-style: normal;
}

/*INTRO*/

.panel_intro {
	background:#008CBA;
	background-size: cover;
	height:100%;
}

p.links {
	margin-top: 60px;;
	text-align: center;
	word-spacing: 5px;
}

p.links a {
	color: #fff;
	border: 1px solid #fff;
	padding: 5px;
	margin-right: 10px;
	font-size:0.7rem;
	letter-spacing: 1.71px;
}

p.links a:hover {
	background: #fff;
	color: #008CBA;
	border: 1px solid #f1f1f1;
}

p.arrow {
	position: absolute;
	bottom: calc(5% - 2em);;
	right:20px;
}

p.arrow img {
	width: 30px;
	height:30px;
	opacity: 0.7;
	text-align:center;
}

p.arrow img:hover{
	opacity: 1;
}

p.arrow-up img {
	position: absolute;
	right: 20px;
	width: 30px;
	height:30px;
	opacity: 1;
	/*text-align:center;*/
}

p.arrow-up img:hover {
	opacity:1;
}

/*PROJECTS*/

.panel_projects {
	background: #fff;
}

.panel-one {
	padding: 60px 0;
	background: #f1f1f1;
	border-bottom: 1px solid #fff;
}

.panel-one p {
	text-align: center;
	margin-bottom: 0.4em;
	font-weight: 100;
	font-size: .9em;
}

.panel-one p.info {
	color: #008CBA;
	font-size: .9em;
	font-style: italic;
}

.panel-one a {
	color: #008CBA;
}

.panel-one a:hover {
	color: #999;
}

.panel-one p img {
	padding: 0;
	margin: 20px 0;
}

.panel-one p img#app{
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}

.panel-about {
	padding: 60px 0;
	background: #fff;
	border-bottom: 1px solid #fff;
}

.panel-about p {
	padding: 20px 0;
	max-width: 600px;
	margin: 0 auto;
	font-weight: 100;
	font-size: 1em;
}





/*TRANSITIONS*/


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}